{% extends 'base.html' %}
{% block title%}
    <title>Лев Толстой профайл пользователя</title>
{% endblock %}
{% block content %}
    <main>
      <div class="container py-5">        
        <h1>Все посты пользователя  </h1>
        <h3>Всего постов:  </h3> 
        {% for post in posts %}
          <ul>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul> 
          <p>
            {{ post.text }}
          </p>
        {% endfor %}
          <a href="../posts/post_detail.html">подробная информация</a>
        </article>       
        <a href="../posts/group_list.html">все записи группы</a>        
        <hr>
          <a href="../posts/post_detail.html">подробная информация</a>
        </article>       
        <a href="../posts/group_list.html">все записи группы</a>    
        <!-- нет черты после последнего поста -->
        {% include 'posts/includes/paginator.html' %}

      </div>
    </main>
{% endblock %}
